<app-navbar></app-navbar>

<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Manage Volunteers</mat-card-title>
      </mat-card-header>
    
    <button mat-flat-button color="primary" class="option-button" mat-button [matMenuTriggerFor]="menu">Change Volunteer Filter</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="FilterVols('Approved')">Approved/Pending Aprroval</button>
        <button mat-menu-item (click)="FilterVols('Approved')">Approved</button>
        <button mat-menu-item (click)="FilterVols('Approved')">Pending Approval</button>
        <button mat-menu-item (click)="FilterVols('Disapproved')">Disapproved</button>
        <button mat-menu-item (click)="FilterVols('Disapproved')">Inactive</button>
        <button mat-menu-item (click)="FilterVols('All')">All</button>
    </mat-menu>
    <button mat-flat-button color="primary" class="option-button" >Search Volunteers</button>
    <button mat-flat-button color="primary" class="option-button">View Volunteer Opportunity Matches</button>
    <button mat-flat-button color="primary" class="option-button" [routerLink]="['/Volunteer/Edit']">Edit Volunteer</button>
    <button mat-flat-button color="primary" class="option-button" [routerLink]="['/Volunteer/Create']">Add new volunteer</button>
    
    
</mat-card>

<table mat-table [dataSource]="volunteers">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.username}}</td>
    </ng-container>

    <ng-container matColumnDef="centerPref">
        <th mat-header-cell *matHeaderCellDef>Center Preference</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.centerPref}}</td>
    </ng-container>

    <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef>Skills</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.skills}}</td>
    </ng-container>

    <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef>Availability</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.availability}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.address}}</td>
    </ng-container>

    <ng-container matColumnDef="homeCell">
        <th mat-header-cell *matHeaderCellDef>Home Cell</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.homeCell}}</td>
    </ng-container>

    <ng-container matColumnDef="workCell">
        <th mat-header-cell *matHeaderCellDef>Work Cell</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.workCell}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.email}}</td>
    </ng-container>

    <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef>Education</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.education}}</td>
    </ng-container>

    <ng-container matColumnDef="currentLicenses">
        <th mat-header-cell *matHeaderCellDef>Licenses</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.currentLicenses}}</td>
    </ng-container>

    <ng-container matColumnDef="emergencyName">
        <th mat-header-cell *matHeaderCellDef>Emergency Contact Name</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.emergencyName}}</td>
    </ng-container>

    <ng-container matColumnDef="emergencyCell">
        <th mat-header-cell *matHeaderCellDef>Emergency Contact Cell</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.emergencyCell}}</td>
    </ng-container>

    <ng-container matColumnDef="emergencyEmail">
        <th mat-header-cell *matHeaderCellDef>Emergency Contact Email</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.emergancyEmail}}</td>
    </ng-container>

    <ng-container matColumnDef="emergencyAddress">
        <th mat-header-cell *matHeaderCellDef>Emergency Contact Address</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.emergencyAddress}}</td>
    </ng-container>

    <ng-container matColumnDef="driversLicense">
        <th mat-header-cell *matHeaderCellDef>Drivers License on file?</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.driversLicense}}</td>
    </ng-container>

    <ng-container matColumnDef="socialCard">
        <th mat-header-cell *matHeaderCellDef>Social Security card on file?</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.socialCard}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Approval Status?</th>
        <td mat-cell *matCellDef="let volunteer">{{volunteer.status}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>